<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Login</title>
</head>
<body>
  <h1>Login</h1>

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <ul>
        {% for c,m in messages %}
          <li><strong>{{ c|capitalize }}:</strong> {{ m }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  <form method="post" action="{{ url_for('login') }}">
    <label>
      Email
      <input
        type="text"
        name="email"
        required
        pattern="^\d{10}@student\.csn\.edu$|^[A-Za-z]+\.[A-Za-z]+@csn\.edu$"
        title="Student: 10digits@student.csn.edu  |  Faculty: firstname.lastname@csn.edu" />
    </label><br />

    <label>
      Password
      <input type="password" name="password" required />
    </label><br />

    <button type="submit">Login</button>
  </form>

  <p><a href="{{ url_for('signup') }}">Create an account</a></p>
</body>
</html>
